.chatbox {
    position: fixed;
    position:expression("absolute");
    width: 100%;
    max-width: 262px!important;
    display:none;
    z-index: 1020;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.chatboxhead {
    background-color: #404040;
    padding:7px;
    color: #ffffff;
    text-transform: capitalize;
}

.chatboxblink {
    background-color: #3f9684;
}

.chatboxcontent {
    height: 268px;
    overflow-y: auto;
    overflow-x: auto;
    background-color: #FFFFFF;
}

.chatboxinput {
    padding: 5px;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
    box-sizing: content-box;
}

.chatboxoptions {
    float: right;
   
}

.chatboxoptions a {
    color: white;
    width: 22px !important;
    display: inline-block;
    text-align: center;
}
.chatboxoptions a:hover {
    background-color: rgba(0, 0, 0, 0.20);
}

.chatboxtitle {
    float: left;
}
.chatboxhead {
        /*cursor:move !important;*/
}
.lista_usuarios_medic {
    list-style: none;
    padding: 0;
    margin: 0;
}
.usr_medic {
    color: #333333;
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 4px 0;
    position: relative;
    box-sizing: content-box;
}
.usr_medic .username {
    padding-left: 8px;
    position: relative;
}
.usr_medic a {
    color: #333333 !important;
    display: inline-block;
    width: 100%;
    text-decoration: none;
}
.usr_medic img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    float: left;
}
.popup-box {

    background-color: #FFFFFF;
    top: 0;
    bottom: 0;
    display: none;
    position: fixed;
    position:expression("absolute");
    right: 0;
    width: 100%;
    max-width: 255px;
    z-index: 1020;
    padding-top: 54px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.round.hollow {
    margin: 40px 0 0;
}
.round.hollow a {
    border: 2px solid #ff6701;
    border-radius: 35px;
    color: red;
    color: #ff6701;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.round.hollow a:hover {
    border: 2px solid #000;
    border-radius: 35px;
    color: red;
    color: #000;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
}
.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    background-color: #3f9684;
    color: #FFFFFF;
    display: inline-table;
    font-size: 15px;
    padding: 7px 10px;
    width: 100%;
    box-sizing: border-box;
}
.popup-box .popup-head-left,
.popup-box .popup-head-right {
    float: left;
}
.popup-box .popup-head-left {
    width: 80%;
}
.popup-box .popup-head-right {
    width: 20%;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 18px;
    line-height: 28px;
    height: 30px;
    width: 30px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 16px;
    line-height: 30px;
    
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
}
.popup-box .popup-messages {
}
.popup-head-left img {
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    float: left;
}
.usr_medic span,
.popup-head-left #chat_medic {
    height: 32px;
    line-height: 32px;
    padding-left: 8px;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 105px;
    float: left;
}
.usr_medic span {
    height: 34px;
    line-height: 37px;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px !important;
    float: left;
    font-size: 14px;
}
.popup-messages-footer > textarea {
    border-bottom: 1px solid #b2b2b2 !important;
    height: 34px !important;
    margin: 7px;
    padding: 5px !important;
     border: medium none;
    width: 50% !important;
}
.popup-messages-footer {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}
.popup-box .popup-messages {
    height: 150px;
    overflow: auto;
}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}

.popup-head-right .btn-group {
    display: inline-flex;
    margin: 0 8px 0 0;
    vertical-align: top !important;
}
.chat-header-button {
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    color: #FFF;
    font-size: 20px;
    padding: 0;
    float: right;
}
.chat-header-button .material-icons {
    font-size: inherit;
    line-height: 25px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
    padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
    color: #303030;
}

.popup-messages abbr.timestamp {
    background-color: #3f9684;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background-color: #dfece7;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: #fff;
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
    font-size: 13px;
    font-weight: 600;
    margin: 0 0 0 49px !important;
    color: #fff;
    opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    border: 1px solid #fff;
    background-color: #3f9684;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -15px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
    background:#3f9684;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}

.direct-chat-text::after, .direct-chat-text::before {
   
    border-color: transparent #dfece7 transparent transparent;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 4px;
    width: 0;
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.direct-chat-text {
    background-color: #d2d6de;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
    font-size: 12px;
}
.chat_ini {
    position: fixed;
    bottom: 0;
    /* right: 15px; */
    z-index: 1020;
}
.chat_ini .material-icons {
    font-size: 40px !important;
    color: #1fa098;
}
/* 9.5 Chat List Setting */

.panel-body .chats {
    padding: 0;
}
.slimScrollDiv .chats {
    padding-right: 15px;
}
.chats {
    list-style-type: none;
    margin: 0;
    padding: 12px 15px 15px;
}
.chats > li + li {
    margin-top: 15px;
}
.chats > li:before,
.chats > li:after {
    content: '';
    display: table;
    clear: both;
}
.chats .name {
    color: #333;
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    text-decoration: none;
}
.chats .name .label {
    font-size: 8px;
    padding: 1px 4px 2px;
    margin-left: 3px;
    position: relative;
    top: -1px;
}
.chats .date-time {
    font-size: 10px;
    display: block;
    float: right;
    color: #999;
    margin-top: 3px;
}
.chats .image {
    float: left;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    text-decoration: none;
    width: 32px;
    height: 32px;
    -moz-box-shadow: 0 0 1px #fff;
    -webkit-box-shadow: 0 0 1px #fff;
    box-shadow: 0 0 1px #fff;
}
.chats .left .image {
    background-color: #0b309f;
}
.chats .right .image {
    background-color: #009688;
}
.chats .image::first-letter {
    font-size: 30px;
}
.chats .image img {
    max-width: 100%;
}
.chats .image + .message {
    margin-left: 57px;
}
.chats .message {
    border: 1px solid #ccd0d4;
    padding: 7px 12px;
    font-size: 12px;
    position: relative;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.chats .message:before,
.chats .message:after {
    content: '';
    position: absolute;
    top: 10px;
    left: -14px;
    border: 7px solid transparent;
    border-right-color: #ccd0d4;
}
.chats .message:after {
    left: -13px;
    border-right-color: #fff;
}
.chats .right .name {
    text-align: right;
}
.chats .right .date-time {
    float: left;
}
.chats .right .image {
    float: right;
}
.chats .right .image + .message {
    margin-right: 57px;
    margin-left: 0;
}
.chats .right .message:before,
.chats .right .message:after {
    left: auto;
    right: -14px;
    border-right-color: transparent;
    border-left-color: #ccd0d4;
}
.chats .right .message:after {
    right: -13px;
    border-left-color: #fff;
}
